/* general */
:root {
    --zero-steel: #C2E5FC;
    --grade-grape: #8BD6F0;
    --binacle-land: #66CDCC;
    --binacle-soft: #006766;
    --multi-layered: #CCB0FF;
    --stone-wise: pink;
    --stars-rud: #CD6667;
    --renginered: #663332;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 22px;
    list-style: none;
}

/* bienvenida */
.container {
    display: flex;
    background: var(--zero-steel);
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    line-height: 32px;

}

/* tips de bienvenida */
.box-backhoe {
    width: 100px;
    height: 30px;
    background: var(--stone-wise);
    padding: 5px;
    border-radius: 7px;
}

aside {
    display: grid;
    background: var(--stone-wise);
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
    padding-bottom: 44px;
}

.item {
    background: var(--grade-grape);
    padding: 12px;
    border-radius: 10px;
} 

.box .item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    top: 30px;
}

 .item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    top: 30px;
}

 .item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    position: relative;
    top: 12px;
    align-self: end;
}

 .item:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}
 .item:nth-child(5) {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    justify-self: center;
}

/* programa general */
section.matrix-underline {
    display: grid;
    color: var(--multi-layered);
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 200px);
    justify-content: space-around;
    justify-items: center;
}

.matrix-underline > label {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: center;
    background: var(--stone-wise);
    padding: 5px;
    color: white;
    border-radius: 7px;
}

section.matrix-underline > h1.special-announce {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: center;
}

section.matrix-underline > h1.invite {
    grid-column-start: 3;
    grid-row-start: 1;
    align-self: center;
}